Source: runds-connector
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 11), cmake (>= 3), pkg-config, libowrx-connector-dev (>= 0.4)
Vcs-Browser: https://github.com/jketterl/runds_connector
Vcs-Git: https://github.com/jketterl/runds_connector.git

Package: runds-connector
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: eb200-connector
Replaces: eb200-connector
Description: OpenWebRX connector for R&S devices
 Provides connector functionality to R&S devices offering EB200 or Ammos
 protocols on the network
